

<div class="container">
    <h1>Test details page</h1>

    <h6>This photo comes from local folder on the solution</h6>
    <img src="~/img/NGHALogo.PNG" />
    <h6>This photo comes from external source on the internet</h6>
    <img src="https://d1.awsstatic.com/acs/characters/Logos/Docker-Logo_Horizontel_279x131.b8a5c41e56b77706656d61080f6a0217a3ba356d.png" />

</div>